:root {
  --gray-100: #f3f3f3;
  --gray-300: #dddddd;
  --gray-600: #3c3c3c;
  --green: #40b64c;
  --red: #e63946;
  --white: #f1faee;
  --light-blue: #a8dadc;
  --blue: #457b9d;
  --dark-blue: #1d3557;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
